header{
display: flex;
flex-direction: row;
filter: contrast(85%);
font-size: x-large;
}
 buttonlogin{
    margin-left: 20%;
}
button{
    margin-right: 3%;
} 
 
.landingpage{
    display: flex;
    flex-direction: row;
    border: solid; 
    color:rgb(75, 51, 19);
    background-color: antiquewhite;
    border-radius: 100px;
    width: 50%;
    margin-left: 25%;
}
.icon{
padding: 20px;
    width: 25px;
    height: 25px
}
.container{
    height: 80vh;
    background-image: url(hotel2.jpg);
    
}
#welcoming{
    text-align: center;
    font-size: 80px;
    font-weight: bolder;
    color: white;
    

}
#companyphrase{
    text-align: center;
}
body{
    overflow-x: hidden;
    background-color:#f1f3f5 ;
}
.popularhotels img{
    margin-left: 2%;
    width: 30%;
    height: 50vh;
}
.popularhotel{
     display: grid;
    grid-template-rows: repeat(3,1fr);  


}
#seemore{
    background-color: #a5d8ff;
    width: 100px;
    height: 50px;
    border-radius: 15px;
    margin-left: 45%;
    margin-top: 3%;
    margin-bottom: 8%;
}
#popular{
    text-align: center;
    font-size: 50px;
    font-weight: bold;
}
h2{
    margin-top: 0%;
    text-align: center;
    font-size: 40px;
}
.ourfacilities{
display: grid;
grid-template-columns: repeat(4,1fr);
}

.facilities img{
    width: 80%;
    height: 25vh;
    margin-left: 3%;
}

.otherfacilities{
    margin-top: 5%;
    margin-left: 1%;
  display: grid;
  grid-template-columns: repeat(4,1fr);
}
.otherfacilities img{
    width: 80%;
    height: 20vh;
}

.ourrooms{
   display: grid;
   grid-template-columns: repeat(3,1fr);
    }
    .ourrooms img{
        width: 80%;
        height: 30vh;
        margin-left: 3%;
    }
    .rooms{
        margin-top: 10%;
        margin-left: 2%;
        margin-right: 3%;
     
    }
     .otherrooms img{
        /* padding-right: 50px; */
        margin-left: 3%;
        width: 80%;
        height: 30vh;
    } 
    .otherrooms{
       display: grid;
       grid-template-columns: repeat( 3,1fr);
        margin-top: 5%;
        /* margin-left: 3%; */
        /* margin-right: 5%; */
    }

.otherfoods{
    margin-top: 5%;
    margin-left: 1%;
    display: flex;
    flex-direction: row;
}

.ourmenu{
    display: flex;
    flex-direction: row;
    }
    .ourmenu img{
        width: 40%;
        height: 40vh;
        margin-left: 3%;
    }
    .foods{
        margin-top: 10%;
        margin-left: 2%;
        margin-right: 3%;
     
    }
     .otherfoods img{
        padding-left: 20px;
        width: 30%;
        height: 40vh;
    } 
    .otherfoods{
        display: flex;
        flex-direction: row;
        margin-top: 5%;
        margin-left: 3%;
        margin-right: 0%;
      
       
    }

.customers{
    border: solid;
    border-color: wheat;
    background-color: cadetblue;
    margin-top: 10%;
    /* display: grid;
    grid-template-columns: repeat(3,1fr); */
    margin-left: 20%;
 
    
    }
    .customers img{
         width: 70%;
        height: 20vh; 
        border-radius: 100%;
        margin-top: 40;
         margin-left: 25%; 
         
     
    }
    #clients{
        text-align: center;
        font-size: 60px;
        font-weight: bold;
    }
    
    .people {
        width: 40%;
        height: 40%;
        /* margin-left: 3%; */
        display: grid;
        grid-template-columns: repeat(3,1fr);
        margin-left: 25%;
        gap: 40px;
  
    }
    .people .customers{
        width: 98%;
        height: 60vh;
        padding: 50px;
    }
     .people img{
        width: 95%;
        height: 45vh;
        border-radius: 100%;
        margin-left: 10%;
        /* margin-bottom: 30%; */
    } 
    .person{
        margin-top: 10%;
        display: flex;
        flex-direction: row;
    }
    .leftside{

    }
    .rightside{
        text-align: center;
        margin-top: 10%;
    }

    .footerpart{
        margin-top: 10%;
        height: 40%;
        width: 100%;
        background-color:#66d9e8;
        color: crimson;
        border-top-left-radius: 80px;
        border-top-right-radius: 80px;
        padding-top: 40px;
        padding-left: 40px;
    }
    footer{
        display: flex;
        flex-direction: row;
    }
  @media(max-width:1200px){
    body{
    }
        .ourrooms{
            display: flex;
            flex-direction: row;
            }
            .ourrooms img{
                width: 70%;
                height: 25vh;
                margin-left: 3%;
            }
            .rooms{
                margin-top: 10%;
                margin-left: 2%;
                margin-right: 3%;
             
            }
             .otherrooms img{
                padding-left: 50px;
                width: 70%;
                height: 25vh;
            } 
            .otherrooms{
                display: flex;
                flex-direction: row;
                margin-top: 5%;
                margin-left: 3%;
                margin-right: 5%;
           
        
  }  .ourmenu img{
    width: 20%;
    height: 20vh;
    margin-left: 3%;
}
.otherfoods img{
    width: 20%;
    height: 20vh;
    margin-left: 1%;
}
.customers{
    margin-left: 1%; 
}
}
  @media(max-width:992px){
    body{

    }
    #clients{
        text-align: center;
    }
    .customers{
        margin-left: 0%; 
    }
    .ourrooms{
        display: flex;
        flex-direction: row;
        }
        .ourrooms img{
            width: 30%;
            height: 20vh;
            margin-left: 3%;
        }
        .rooms{
            margin-top: 10%;
            margin-left: 2%;
            margin-right: 3%;
         
        }
         .otherrooms img{
            padding-left: 50px;
        } 
        .otherrooms{
            display: flex;
            flex-direction: row;
            margin-top: 5%;
            margin-left: 3%;
            margin-right: 5%;
            width: 40%;
            height: 20vh;
           
        }
  }
  @media(max-width:768px){
    .footer{
        width: 0%;

    }
    .ourfacilities img{
        height: 20%;
        width: 50%;
    }
    .customers img{
        margin-right: 40%;
        height: 20vh;

    }
    .landingpage{
        width: 10%;
    }
  }
  @media(max-width:576px){
    .footerpart{
   
     margin-right: 10%;
    }
    .footer{
        width: 2%;

    }
    .ourfacilities img{
        height: 25vh;
        width: 80%;
    }
    .facilities img{
        width: 80%;
        height: 15vh;
    }
    /* .customers img{
        margin-right: 0%;
        height: 20vh;

    } */
    .landingpage{
        width: 10%;
    }
    .ourrooms{
        width: 100%;
        height: 35vh;
    }
    .otherroomsimg{
        width: 40%;
        height: 35vh;
        margin-right: 0%;
        margin-left: 0%;
        padding: 0px;
        margin-top: 2%;
    }
   
  }

  
  

